.entete{
    display : flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        flex: 0 1 150px;
    }
    &__navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}